
        * {
            margin: auto;
            padding: auto;
            box-sizing: border-box;
        }

body::-webkit-scrollbar{
    display: none;
}

        nav {
            width: 100%;
            height:60px;
            background: linear-gradient(to left, rgb(187, 216, 241), rgb(103, 171, 231));
            display: flex;
            justify-content: space-between;
            padding: 0px 0px;
            align-items: center;
            top: 0;
            position: fixed;
            z-index: 1000;
        }
        nav ul {
            display: flex;
            gap: 10px;
            margin-left: 200px;
            list-style-type: none;
            font-size: 15px;
        }
        nav ul a {
            text-decoration: none;
            color: #ffffff;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
            font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
        }
        nav p a {
            text-decoration: none;
            color: #ffffff;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
            transition: text-shadow 0.3s ease, color 0.3s ease;
        } 
        nav ul li a:hover {
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
            font-weight: bold;
            cursor: pointer;
        }
        p.nama {
            font-family: 'Georgia', 'Times New Roman', serif;

            color: rgb(252, 252, 252);
            font-weight: bold;
            font-size: 15px;
        }
        p.content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 30px;
            border-radius: 100px;
            background-color: rgb(82, 157, 207);
            margin-right: 50px;
            font-size: 10px;
            text-decoration: none;
        }
        nav p a:hover {
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
            font-weight: bold;
            cursor: pointer;
        }
        .gambaran {
        position: absolute;    
        top: 220px;             
        right: 150px;           
        width: 500px;           
        height: 500px;
        background: url(paris-33.png) no-repeat center;
        background-size: cover;
        }
        .teks {
        position: absolute;    
        top: 370px;             
        left: 70px;           
        background-size: cover;
        font-size: 35px;
        font-weight: 900;
        text-shadow: 0 0 5px rgb(128, 164, 173);
        letter-spacing: 3px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .teks2 {
        position: absolute;    
        top: 450px;             
        left: 70px;           
        background-size: cover;
        font-family: 'Times New Roman', Times, serif;
        font-size: 19px;
        font-weight: 500;
        text-shadow: 0 0 5px rgb(138, 152, 156);
        letter-spacing: 4px;
        }
        .landing {
            border: 1px solid yellow;
        width: 100%;
        height: 780px;
        background: linear-gradient(to bottom, #a0d8ff 0%, #eaf6ff 60%, #ffffff 100%);
        background-size: cover;
        background-attachment: fixed;
        }
        .landing2 {
        width: 100%;
        height: 810px;
        background: linear-gradient(to bottom, #63ade6 25%, #8cb6d6 60%, #b4ac9d 100%);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        }
        .isi {
            justify-content: center;
            align-items: center;
            display: flex;
            top: 100px;
            left: 600px;
            font-size: 50px;
            font-weight: 900;
            letter-spacing: 2px;
            position: absolute;
        }
        .gambaranb {
        /* border: 1px solid black; */
        position: absolute; 
        top: 90px;             
        left: 670px; 
        width: 600px;           
        height: 500px;
        background: url(pngtree-the-sky-s-limit-3d-rendering-of-an-airplane-soaring-through-image_3838493-removebg-preview.png) no-repeat center;
        background-size: cover;
        }
        .gambar22 {
            width: 50px;
            height: 50px;
        }
        .brnad {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .TULISAN{
            position: absolute;
            top: 200px;
            left: 530px;
            box-shadow: 5px 10px 30px rgb(16, 105, 207);
            width: 500px;
            backdrop-filter: blur(20px);
            z-index: 1;          
            border-radius: 25px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }
        .TULISAN2 {
            position: relative;
            bottom: 60px;
            font-size: 20px;
            font-weight: 700;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .landing3 {
            width: 100%;
            height: 750px;
            background-color: #eaf6ff;
            background-size: cover;
        background-attachment: fixed;
        position: relative;
        }
        .isicard {
            width: 1300px;
            height: 600px;
            position: relative;
            top: 100px;
            display: flex;
        }
        .card {
            height: 100%;
            width: 300px;
            backdrop-filter: blur(20px);
            box-shadow: 5px 10px 30px rgb(16, 105, 207);
            border-radius: 25px;
        }
        .card2 {
            height: 100%;
            width: 300px;
            backdrop-filter: blur(20px);
            box-shadow: 5px 10px 30px rgb(16, 105, 207);
            border-radius: 25px;
        }
        .card3 {
            height: 100%;
            width: 300px;
            backdrop-filter: blur(20px);
            box-shadow: 5px 10px 30px rgb(16, 105, 207);
            border-radius: 25px;
        }
        .bulanan {
            text-align: center;
            position: relative;
            top: 10px;
            font-size: 30px;
            font-weight: 850;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .setbulanan {
            text-align: center;
            position: relative;
            top: 10px;
            font-size: 30px;
            font-weight: 850;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .tahunan {
            text-align: center;
            position: relative;
            top: 10px;
            font-size: 30px;
            font-weight: 850;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
         p {
            text-align: center;
            font-size: 15px;
            font-weight: 900;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        footer {
            width: 100%;
            height: 150px;
            background: #a0d8ff;
            display: flex;;
            list-style-type: none;
            font-size: 15px;
        }
        .contants {
            text-align: center;
            position: relative;
            bottom: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
        }
        footer ul {
            display: flex;
            text-align: center;
            gap: 10px;
            margin-top: 20px;
            margin-right: 30px;
            list-style-type: none;
            font-size: 15px;
        }
        footer ul a {
            text-decoration: none;
            color: #ffffff;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
            transition: text-shadow 0.3s ease, color 0.3s ease;
        }
        footer ul li a:hover {
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
            font-weight: bold;
            cursor: pointer;
        }
        .tomnol {
            text-align: center;
            background: #a0d8ff;
            width: 100px;
            height: 50px;
            border-radius: 25px;
        }
        .tulis {
            position: relative;
            top: 13px;
            font-size: 20px;
            font-weight: 700;
        }


